{% extends 'admin.html' %}
{% load staticfiles %}

{% block admincontent %}
  <div class="container">
    <div class='row'>
      {% for r in requests %}
        <div class='col-md-4 reqitem well'>
          <a href="{% url 'user' r.requester.user.id %}/">{{r.requester.FName}} {{r.requester.LName}}</a> requested {{r.item}}
          <div>
            <button onclick="accept_req({{r.id}});">Accept</button>
            <button onclick="reject_req({{r.id}});">Reject</button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
