{% extends 'admin.html' %}
{% load staticfiles %}

{% block admincontent %}
  <div class="container">
    <div class='row'>
      {% if num_requests > 0 %}
      {% for r, items in requests %}
      <div class='row'>
        <h3><a href="{% url 'user' r.requester.user.id %}/">{{r.requester.FName}} {{r.requester.LName}}</a> requested <span style="font-size: 60%; color:#999999">at {{r.time}}</span></h3>
        <p>{{r.desc}}</p>
        {% for it, ri in items %}
          <div class="col-sm-6 col-md-4 reqitem">
            <div class="thumbnail">
              <img class="reqimg" src="{{it.imgURL}}" onerror="this.src='{% static 'images/placeholder.png' %}'">
              <div class="caption">
                <p>
                  <h4>{{it}}</h4>
                  <textarea id="request-response-{{ri.id}}" class="form-control" type="text" rows="2" placeholder="Request response"></textarea>
                  <br/>
                  <a class="btn btn-primary" role="button" onclick="accept_req({{ri.id}});">Accept</a>
                  <a class="btn btn-danger" role="button" onclick="reject_req({{ri.id}});">Reject</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% else %}
        <div class="jumbotron">
          <h1>There are no pending requests</h1>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
